{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<br>
<br>
<br>
<br>
<br>
<br>
    <h1 class="text-center" style="text-decoration: underline; color: #0a0a0a"><b>Inscrivez-vous et déposer votre CV rapidement !</b></h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="offset-4"

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.Firstname) }}
    <br>
    {{ form_row(registrationForm.Lastname) }}
    <br>
    {{ form_row(registrationForm.Pseudo) }}
    <br>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    <br>
    {{ form_row(registrationForm.Email) }}
    <br>
    {{ form_row(registrationForm.Domaine) }}
    <br>
    {{ form_row(registrationForm.Ville) }}
    <br>
    {{ form_row(registrationForm.Pays) }}
    <br>
    {{ form_row(registrationForm.Codepostal) }}
    <br>
        {{ form_row(registrationForm.agreeTerms) }}
    <br>
    <div class="row" style="margin-bottom: 20px; margin-left: 100px">
        <a href="{{ path('app_login') }}"><button type="submit" class="btn btn-primary">Je m'inscrit</button></a>
    </div>
    <div class="row" style="margin-left: 10px">
    <a href="{{ path('app_login') }}"><button class="btn btn-primary" type="button">Déjà un compte ? Connectez-vous !</button></a>
    </div>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
